@tailwind base;
@tailwind components;
@tailwind utilities;


.font-JR {
  font-family: 'Jaffna Regular';
}

.font-JB {
  font-family: 'Post No Bills Jaffna Bold';
}

.font-JM {
  font-family: 'Post No Bills Jaffna Medium Regular';
}

.font-JSB {
  font-family: 'Post No Bills Jaffna SemiBold Regular';
}

.font-JEB {
  font-family: 'Post No Bills Jaffna ExtraBold Regular';
}

.subtext {
  color: #C1C1C1;
  font-size: 24px;
  font-family: 'Post No Bills Jaffna Bold';
}

.head1 {
  color: white;
  font-size: 64px;
  font-family: 'Jaffna Regular';
}

@font-face {
  font-family: 'Jaffna Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Post No Bills Jaffna Regular'), url('./fonts/PostNoBillsJaffna-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Post No Bills Jaffna Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Post No Bills Jaffna Bold'), url('./fonts/PostNoBillsJaffna-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Post No Bills Jaffna Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Post No Bills Jaffna Light Regular'), url('./fonts/PostNoBillsJaffna-Light.woff') format('woff');
}


@font-face {
  font-family: 'Post No Bills Jaffna Medium Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Post No Bills Jaffna Medium Regular'), url('./fonts/PostNoBillsJaffna-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Post No Bills Jaffna SemiBold Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Post No Bills Jaffna SemiBold Regular'), url('./fonts/PostNoBillsJaffna-SemiBold.woff') format('woff');
}


@font-face {
  font-family: 'Post No Bills Jaffna ExtraBold Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Post No Bills Jaffna ExtraBold Regular'), url('./fonts/PostNoBillsJaffna-ExtraBold.woff') format('woff');
}