@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
  height: 100%;
}

@layer base{
  @font-face {
    font-family: 'Jaffna Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Post No Bills Jaffna Regular'), url('./fonts/PostNoBillsJaffna-Regular.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Post No Bills Jaffna Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Post No Bills Jaffna Bold'), url('./fonts/PostNoBillsJaffna-Bold.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Post No Bills Jaffna Light Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Post No Bills Jaffna Light Regular'), url('./fonts/PostNoBillsJaffna-Light.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Post No Bills Jaffna Medium Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Post No Bills Jaffna Medium Regular'), url('./fonts/PostNoBillsJaffna-Medium.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Post No Bills Jaffna SemiBold Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Post No Bills Jaffna SemiBold Regular'), url('./fonts/PostNoBillsJaffna-SemiBold.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Post No Bills Jaffna ExtraBold Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Post No Bills Jaffna ExtraBold Regular'), url('./fonts/PostNoBillsJaffna-ExtraBold.woff') format('woff');
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer components{
  .bgScreen{
    @apply h-screen sm:h-[70vh] md:h-[80vh] lg:h-[90vh] bg-hero-pattern dark:bg-hero-patternDark bg-blend-multiply bg-center bg-cover flex justify-center sm:justify-end items-center flex-col px-6 static
  }
  .bgSvg{
    @apply absolute m-auto inset-0 z-0 hidden sm:block  w-[320px] sm:w-[480px] md:w-[600px] lg:w-[900px] xl:w-[950px] 
  }
  .subtext{
    @apply font-PostJb text-[#ade8e4] dark:text-[#C1C1C1] text-[14px]  md:text-[18px] lg:text-[20px] 
  }
  .head1{
    @apply font-PostR text-[#24FFF2] dark:text-[#FFFFFF] text-[24px] sm:text-[28px] md:text-[36px] lg:text-[60px] 
  }
  .heroImg{
    @apply hidden sm:block sm:w-[260px] sm:h-[300px] md:w-[350px] md:h-[450px] lg:w-[420px] lg:h-[580px]
  }
  .subhead{
    @apply font-PostJb text-black dark:text-white text-[20px]
  }
  .subtext1{
    @apply font-PostR text-[16px] text-black dark:text-[#C1C1C1]
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
/* html {
  scroll-behavior: smooth;
} */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}